<form>
    <div class="form-group">
      <label for="exampleFormControlInput1">Full name</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nome@exemplo.com">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Occupation</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Student of Unifacisa</option>
        <option>Professor at Unifacisa</option>
        <option>Employee of Unifacisa</option>
        <option>Others</option>
      </select>
    </div>
   
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Telephone</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
    </div>

    <div class="form-group">
        <label for="exampleFormControlTextarea1">Email address</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
      </div>

      <div class="form-group">
        <label for="exampleFormControlSelect1">Type</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Select</option>
          <option>Query</option>
          <option>Complaint</option>
          <option>Praise</option>
          <option>Request</option>
        </select>
      </div>

      <div class="form-group">
        <label for="exampleFormControlSelect1">Charateristic</label>
        <select class="form-control" id="exampleFormControlSelect1">
           <option>Select</option>
          <option>Secret</option>
          <option>Non-secret</option>
        </select>
      </div>

      <div class="form-group">
        <label for="exampleFormControlTextarea1">Topic</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
      </div>

      <div class="form-group">
        <label for="exampleFormControlTextarea1">Report</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>

      <div class="checkbox">
        <input type="checkbox">
        <label class="text-checkbox" for="aceitarOsTermos">I am aware and agree that my data will be collected and used to promote educational services.</label>
      </div>

        <div class="botao">
        <button type="button" class="btn btn-primary">Send</button>
      </div>
  </form>