

<app-nav-bar></app-nav-bar>
<app-carrosel></app-carrosel>

<div id="quadro">
    <h1>Ombudsman</h1>
</div>

<p>
    The Unifacisa Ombudsman's Office is a mediator and democratic communication channel that welcomes feedback from students, professors, employees, and the community at large. If you have any complaints, reports, suggestions, requests, or compliments, please contact us via email at ouvidoria&#64;unifacisa.edu.br or, if you prefer, fill out our form by clicking the link below.
</p>
<app-formulario></app-formulario>
